*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

.first, .second{
    min-height: 1024px;
    width: 960px;
    margin: 0 auto;
}

.site-wrapper{
    width: 100%;
    margin: 0 auto;
    min-height: 2048px;
    background: url(../images/slides/background2.png) no-repeat, url(../images/slides/background1.png) no-repeat bottom left;
    /* background: url(../images/slides/background2.png) -143px -171px no-repeat, url(../images/slides/background1.png) no-repeat bottom left; */
}

.first{
    display: flex;

}

.leftside{
    width: 470px;
}

.rightside{
    width: 470px;
    height: 380px;
}

.infodiv{
    height: 380px;
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; 
}

.inform p{
    font-family: 'PT Sans Narrow', sans-serif;    
    /* font-family: 'Roboto Mono', monospace;     */
    margin-bottom: 20px;
    text-align: right;
}

.infodiv > button {
    width: 250px;
    height: 70px;
    border: none;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;     
    font-size: 24px;
    background: #ffa200;
    border-bottom: 8px solid #d97d23;
    outline: none;
    cursor: pointer;
}

.infodiv > button>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 17px;
}


.infodiv > button:active{
    border: none;
}

.infodiv img{
    width: 330px;
}

.cartdiv{
    width: 300px;
    height: auto;
    top: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartdiv img{
    width: 100%;
}

.cartdiv img:first-child{
    z-index: 1;
}

.subimg1, .subimg2{
    z-index: 555;
    position: absolute;
}

.subimg1{
    left: -10px;
    top: 150px;
}

.subimg2{
    left: 10px;
    top: 250px;
}


.clr1{
    color: #75d345;
}

.clr2{
    color: #fd8005;
}

.support{
    font-size: 32px;
}

.email{
    font-size: 28px;
}

.phone{
    font-size: 24px;
}

.kvz{
    margin-left: -25px;
    font-size: 48px; 
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    
}

.conds{
    font-size: 56px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;   
    line-height: 0.8; 
}

.game{
    font-family: 'Open Sans', sans-serif;    
    font-size: 56px;
}

.kvz, .conds, .game{       
    color: white;
}

.textarea{
    position: relative;
    z-index: -1;
    height: 700px;
    background: white;
    width: 70%;
    float: right;
    margin-top: 80px;
    padding: 55px;
    overflow-y: scroll;
}

.boxed{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}