*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0px 5000px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0px 5000px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0px 5000px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 0px 5000px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 0px 5000px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 0px 5000px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 0px 5000px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 0px 5000px;
  }
}
/* Main styles */
body {
  background:  url(../images/icon/set.png) repeat;    
  /* img size is 50x50 */
   -webkit-animation: bg-scrolling-reverse 50s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 50s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 50s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 50s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* animation code */

.first, .second{
    min-height: 1024px;
    width: 960px;
    margin: 0 auto;
}

.site-wrapper{
    width: 100%;
    margin: 0 auto;
    min-height: 2048px;
    background: url(../images/slides/backgroundlines.png) no-repeat;
    /* background: url(../images/slides/background2.png) no-repeat, url(../images/slides/background1.png) no-repeat bottom left;    */
     /* background: url(../images/slides/background2.png) -143px -171px no-repeat, url(../images/slides/background1.png) no-repeat bottom left; */
}

.first{
    display: flex;

}

.leftside{
    width: 470px;
}

.rightside{
    width: 470px;
    height: 380px;
}

.infodiv{
    height: 380px;
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; 
}

.inform p{
    font-family: 'PT Sans Narrow', sans-serif;    
    /* font-family: 'Roboto Mono', monospace;     */
    margin-bottom: 20px;
    text-align: right;
}

.infodiv > button {
    width: 250px;
    height: 70px;
    border: none;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;     
    font-size: 24px;
    background: #ffa200;
    border-bottom: 8px solid #d97d23;
    outline: none;
    cursor: pointer;
}

.infodiv > button>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 17px;
}


.infodiv > button:active{
    border: none;
}

.infodiv img{
    width: 330px;
}

.cartdiv{
    width: 100%;
    height: auto;
    top: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartdiv img{
    width: 100%;
}

.cartdiv img:first-child{
    z-index: 1;
}

.subimg1, .subimg2{
    z-index: 555;
    position: absolute;
}

.subimg1{
    left: -35px;
    top: 170px !important;
}

.subimg2{
    left: -46px;
    top: 398px;
    width: 550px !important;
}


.clr1{
    color: #75d345;
}

.clr2{
    color: #fd8005;
}

.support{
    font-size: 32px;
}

.email{
    font-size: 28px;
}

.phone{
    font-size: 24px;
}

.kvz{
    font-size: 48px; 
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    
}

.conds{
    font-size: 56px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;   
    line-height: 0.8; 
}

.game{
    font-family: 'Open Sans', sans-serif;    
    font-size: 56px;
}

.kvz, .conds, .game{       
    color: white;
}

.textarea{
    position: relative;
    z-index: -1;
    height: 700px;
    background: white;
    width: 70%;
    float: right;
    margin-top: 80px;
    padding: 55px;
    overflow-y: scroll;
}

.boxed{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (min-width: 300px) and (max-width: 600px) {
    .site-wrapper {
        background-size: 95% 100%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .site-wrapper {
        background-size: 80% 100%;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .site-wrapper {
        background-size: 80% 100%;
    }
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .site-wrapper {
        background-size: 80% 100%;
    }
}

@media (min-width: 400px) and (max-width: 940px) {
    body{
       
    }
    .first{
        flex-direction: column;
        align-items: center;
    }

    .site-wrapper {
        background-size: 50% 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    .second{
        display: flex;
        flex-direction: column; 
    }

}