*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.wrapper{
    background: url(images/slides/backgroundlines.png) 0 0 no-repeat;
}

@media (min-width: 400px) and (max-width: 800px) {
    .top{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .bottom{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media (min-width: 800px) and (max-width: 1440px) {
    .wrapper{
        background-size: 80% 100%;
    }
    
}

.container{
    min-height: 2000px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.top{
    height: 1024px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.top__left{
    width: 50%;
}

.top__right{
    width: 50%;
}

.top__left img{
    width: 80%;
}

.top__right img{
    width: 80%;
}

.top__right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 550px;
}

.top__right .inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.top__right .inform > p {
    font-family: 'PT Sans Narrow', sans-serif;    
    /* font-family: 'Roboto Mono', monospace;     */
    margin-bottom: 20px;
}


.bottom{
    height: 1024px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.bottom__left {
    width: 50%;
    margin-top: 110px; 
}

.bottom__right{
    width: 50%;
    margin-top: 80px;
}

.clr1{
    color: #75d345;
}

.clr2{
    color: #fd8005 !important;
}

.support{
    font-size: 32px;
}

.email{
    font-size: 28px;
}

.contacts{
    display: none;
}

.phone{
    font-size: 24px;
}
.infodiv > button {
    /* width: 250px; */
    height: 70px;
    border: none;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;     
    font-size: 24px;
    background: #ffa200;
    border-bottom: 8px solid #d97d23;
    outline: none;
    cursor: pointer;
}

.infodiv > button>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 17px;
}


.infodiv > button:active{
    border: none;
}

.kvz{
    font-size: 44px; 
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    
}

.conds{
    font-size: 56px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;   
    line-height: 0.8; 
}

.game{
    font-family: 'Open Sans', sans-serif;    
    font-size: 56px;
}

.kvz, .conds, .game{       
    color: white;
}

.boxed{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.textarea{
    font-family: 'PT Sans Narrow', sans-serif;   
    /* position: relative; */
    z-index: -1;
    height: 700px;
    background: white;
    width: 100%;
    float: right;
    margin-top: 80px;
    padding: 20px;
    padding-top: 45px;
    overflow-y: scroll;
}

@media (min-width: 480px) and (max-width: 812px) {
    .kvz{
        font-size: 28px !important;
    } 
    .conds{
        font-size: 22px !important;
    }

}

@media (min-width: 480px) and (max-width: 1090px) {
    /* .top{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .top__right{
        align-items: center;
    }
    .top__left img{
        width: 100%;
    }
    .top__right img{
        width: 100%;
    }
    .bottom{
        flex-direction: column;
    }
    .wrapper{
        background-size: 70% 100%;
    }
    .bottom__right{
        width: 100%;
    }
    .textarea{
        display: block;
        z-index: 1;
    }
    .inform p{
        text-align: center;
    }
    .inform{
        align-items: center !important;
    }
    .bottom__left > p{
        color: black;
    }
    .top__left{
        width: 100%;
    }
    .top__right{
        width: 100%;
    } */
    .wrapper{
        background-size: 70% 100%;
    }
    .kvz{       
        color: white;
        font-size: 32px;
    }
    .conds{
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .contacts{
        display: block;
        text-align: center;
    }
    .contacts div{
        margin-bottom: 10px;
        margin-top: 10px;
        color: #FF8100;
    }
    .contacts div i {
        display: inline;
        margin-right: 5px;
        font-size: 24px;
    }
    .contacts div a{
        display: inline;
        font-family: 'PT Sans Narrow', sans-serif;  
        font-size: 24px;
        text-decoration: none;
        color: #FF8100;
    }
    .wrapper{
        background: none;
    }
    .top{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        height: 750px;
    }
    .top__right{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 750px;
    }
    .top__left{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 100%;
    }
    .inform{
        width: 100%;
        text-align: center;
    }
    .inform p {
        text-align: center;
    }
    .inform{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center !important;
            -ms-flex-align: center !important;
                align-items: center !important;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .infodiv>button{
        width: 125%;
        border-bottom: none;
        -webkit-box-shadow: 0 9px 34px -6px #9a9090;
                box-shadow: 0 9px 34px -6px #9a9090;
        height: 110px;
    }
    .infodiv>button>a{
        font-size: 50px;
        padding: 0;
    }
    .bottom__left{
        display: none;
    }
    .bottom__right{
        width: 100%;
        /* overflow-y: initial; */
        height: auto;
        margin-top: 0px;
    }
    .textarea{
        height: auto;
        -webkit-box-shadow: none;
                box-shadow: none;
        margin-top: 0;
    }
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 5000px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 5000px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 0px 5000px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 0px 5000px;
    }
  }
  /* Main styles */
  body {
    background:  url(images/icon/testimonial.png) repeat;
    background-size: cover;    
    /* img size is 50x50 */
     -webkit-animation: bg-scrolling-reverse 150s infinite;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: bg-scrolling-reverse 150s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  
  /* animation code */

  .cart{
    -webkit-animation: wave;
            animation: wave;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: 10;
            animation-iteration-count: 10;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .cart:after{
    -webkit-animation: rotate;
            animation: rotate; 
    -webkit-animation-duration: 4s; 
            animation-duration: 4s;
    -webkit-animation-iteration-count: 10;
            animation-iteration-count: 10;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

@-webkit-keyframes wave {
    0% {
        -webkit-transform: translate3d(0, -(2%), 0);
                transform: translate3d(0, -(2%), 0);
    }
    50% {
        -webkit-transform: translate3d(0, 2%, 0);
                transform: translate3d(0, 2%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -(2%), 0);
                transform: translate3d(0, -(2%), 0);
    }
}

@keyframes wave {
    0% {
        -webkit-transform: translate3d(0, -(2%), 0);
                transform: translate3d(0, -(2%), 0);
    }
    50% {
        -webkit-transform: translate3d(0, 2%, 0);
                transform: translate3d(0, 2%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -(2%), 0);
                transform: translate3d(0, -(2%), 0);
    }
}

@-webkit-keyframes rotate { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    25% { -webkit-transform: rotate(-(9deg)); transform: rotate(-(9deg)); } 
    50% { -webkit-transform: rotate(-0deg); transform: rotate(-0deg); }
    75% { -webkit-transform: rotate(9deg); transform: rotate(9deg); }
    100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

@keyframes rotate { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    25% { -webkit-transform: rotate(-(9deg)); transform: rotate(-(9deg)); } 
    50% { -webkit-transform: rotate(-0deg); transform: rotate(-0deg); }
    75% { -webkit-transform: rotate(9deg); transform: rotate(9deg); }
    100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

.textarea img {
    width: 100%;
    margin-bottom: 20px;
}

.email > a, .phone > a {
    text-decoration: none !important;
    color: #fd8005 !important;
}